{% extends "default.j2" %} 
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
                <div class="card" style="width: 24rem;">
                    <img src="{{ url_for('static', filename='img/albert.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Jiri -Albert- Vrany</h5>
                        <p class="card-text">
                            I'm a head coach of Czech MTBO team. I'm also a web developer.
                        </p>
                        <p class="card-text">
                            I was always curious who won most world titles, what is best overall
                            result of certain athlete etc. Therefore I created this site.
                        </p>
                        <p class="card-text">
                            Please report any mistakes you found, I will try to fix them soon. 
                        </p>
                        <div class="card-social">
                                <a href="https://www.facebook.com/jiri.vrany" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                                <a href="https://twitter.com/barneyalbert" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                                <a href="https://github.com/jirivrany/stats_mtbo" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

                                <a href="https://plus.google.com/+JirkaVrany/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

                                <a href="https://cz.linkedin.com/in/jirivrany" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>            
{% endblock %}
