{% extends "default.html" %} {% block content %}
<h1>{{ title }}</h1>
<div class="row">
    <div class="col-sm-5">
        <h3>Team {{ competitor['nationality'] }}
            <img src="{{ url_for('static', filename='css/blank.gif') }}" class="flag flag-{{ flags[competitor['nationality']].lower() }}" alt="{{ competitor['nationality'] }}" /></h3>
        <h3>born {{ birth }}</h3>
        <h3>Individual medals</h3>
        <div class="row">
            <table class="table-condensed">
                <tr>
                    <th>Event</th>
                    <th>Gold</th>
                    <th>Silver</th>
                    <th>Bronze</th>
                </tr>
                {% for event, medals in medal_table.items() %}
                <tr>
                    <td>
                        {{ event }}
                    </td>
                    <td>
                        {{ medals[0] }}
                    </td>
                    <td>
                        {{ medals[1] }}
                    </td>
                    <td>
                        {{ medals[2] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-sm-7">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
        <h3>Result history</h3>
        <div id="competitor" data-cid="{{ competitor['competitor_id'] }}">
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/resultTable.js') }}"></script>
    </div>
</div>
{% endblock %}