{% extends "default.j2" %} 
{% block content %}
<div class="row">
    <div class="col-sm-5">
        <h1>{{ title }}</h1>
        <h3>Team {{ competitor['nationality'] }}
            <img src="{{ url_for('static', filename='css/blank.gif') }}" class="flag flag-{{ flags[competitor['nationality']].lower() }}" alt="{{ competitor['nationality'] }}" /></h3>
        <h3>born {{ birth }}</h3>
        <h3>Individual medals</h3>
        <div class="row">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Event</th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m1.png') }}" alt="gold" title="gold" />
                    </th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m2.png') }}" alt="silver" title="silver" />
                    </th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m3.png') }}" alt="bronze" title="bronze" />
                    </th>
                </tr>
                {% for event, medals in medal_table.items() %}
                <tr>
                    <td>
                        {{ event }}
                    </td>
                    <td class="text-center">
                        {{ medals[0] }}
                    </td>
                    <td class="text-center">
                        {{ medals[1] }}
                    </td>
                    <td class="text-center">
                        {{ medals[2] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            {% if first_medals['title_wmtboc'] %}
            <p>
                First individual World Champion title on <a href="/race/{{ first_medals['title_wmtboc'][0][0] }}">{{ first_medals['title_wmtboc'][0][2]|lower }} distance in {{ first_medals['title_wmtboc'][0][1] }}</a> / age {{ first_medals['title_wmtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['medal_wmtboc'] %}
            <p>
                First individual medal from WMTBOC {{ medal_names[first_medals['medal_wmtboc'][0][4]] }} on <a href="/race/{{ first_medals['medal_wmtboc'][0][0] }}">{{ first_medals['medal_wmtboc'][0][2]|lower }} distance in {{ first_medals['medal_wmtboc'][0][1] }}</a> / age {{ first_medals['medal_wmtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['title_emtboc'] %}
            <p>
                First individual European Champion title on <a href="/race/{{ first_medals['title_emtboc'][0][0] }}">{{ first_medals['title_emtboc'][0][2]|lower }} distance in {{ first_medals['title_emtboc'][0][1] }}</a> / age {{ first_medals['title_emtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['medal_emtboc'] %}
            <p>
                First individual medal from EMTBOC {{ medal_names[first_medals['medal_emtboc'][0][4]]|lower }} on <a href="/race/{{ first_medals['medal_emtboc'][0][0] }}">{{ first_medals['medal_emtboc'][0][2] }} distance in {{ first_medals['medal_emtboc'][0][1] }}</a> / age {{ first_medals['medal_emtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

        </div>
        <h3>Relay medals</h3>
        <div class="row">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Event</th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m1.png') }}" alt="gold" title="gold" />
                    </th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m2.png') }}" alt="silver" title="silver" />
                    </th>
                    <th class="text-center">
                        <img src="{{ url_for('static', filename='img/m3.png') }}" alt="bronze" title="bronze" />
                    </th>
                </tr>
                {% for event, medals in relay_medal_table.items() %}
                <tr>
                    <td>
                        {{ event }}
                    </td>
                    <td class="text-center">
                        {{ medals[0] }}
                    </td>
                    <td class="text-center">
                        {{ medals[1] }}
                    </td>
                    <td class="text-center">
                        {{ medals[2] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            {% if first_medals['relay_title_wmtboc'] %}
            <p>
                First relay World Champion title <a href="/race/{{ first_medals['relay_title_wmtboc'][0][0] }}">in {{ first_medals['relay_title_wmtboc'][0][1] }}</a> / age {{ first_medals['relay_title_wmtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['relay_medal_wmtboc'] %}
            <p>
                First relay medal from WMTBOC {{ medal_names[first_medals['relay_medal_wmtboc'][0][4]] }} <a href="/race/{{ first_medals['relay_medal_wmtboc'][0][0] }}">in {{ first_medals['relay_medal_wmtboc'][0][1] }}</a> / age {{ first_medals['relay_medal_wmtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['relay_title_emtboc'] %}
            <p>
                First relay European Champion title <a href="/race/{{ first_medals['relay_title_emtboc'][0][0] }}">in {{ first_medals['relay_title_emtboc'][0][1] }}</a> / age {{ first_medals['relay_title_emtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

            {% if first_medals['relay_medal_emtboc'] %}
            <p>
                First relay medal from EMTBOC {{ medal_names[first_medals['relay_medal_emtboc'][0][4]]|lower }} <a href="/race/{{ first_medals['relay_medal_emtboc'][0][0] }}">in {{ first_medals['relay_medal_emtboc'][0][1] }}</a> / age {{ first_medals['relay_medal_emtboc'][0][1]|int - birth|int }} 
            </p>    
            {% endif %}

        </div>
        <h3>Active years</h3>
        <div class="row">
            <p>
                Number of WMTBOC participations <strong>{{ wmtboc_competitor }}</strong> of {{ wmtboc_total }} (total WMTBOC).
            </p>
            <p>
                WMTBOC participation years : {{ wmtbo_years }}
            </p>
            <p>
                Number of EMTBOC participations <strong>{{ emtboc_competitor }}</strong> of {{ emtboc_total }} (total EMTBOC).
            </p>
            <p>
                EMTBOC participation years : {{ emtbo_years }}
            </p>
        </div>
    </div>
    <div class="col-sm-7">
        <h3>Result history</h3>
        <div class="row">       

            <div id="results_table_container"></div>
        </div>
        <script type="text/javascript">
           
            const DATA = {{ data | tojson }};
            const DISTANCES = {{ distances | tojson }};
        </script>



        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
     <!--
   
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script type="text/babel" src="/static/js/competitorTable.jsx" charset="utf-8"></script>
      -->



        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
        
        <script type="text/javascript" src="/static/js/competitorTable.js" charset="utf-8"></script>
       

       
   

    </div>
</div>
{% endblock %}