<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MTBO Stats {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typeahead.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flags.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MTBO stats</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teams/">Teams</a>
                    </li>
                    <li class="dropdown">
                        <a href="/medals_table/wmtboc/" class="dropdown-toggle" data-toggle="dropdown">Medals <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/medals_table/wmtboc/">WMTBOC</a>
                            </li>
                            <li><a href="/medals_table/emtboc/">EMTBOC</a>
                            </li>
                            <li><a href="/medals_table/wcup/">World Cup</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/all_time_participation/wmtboc/" class="dropdown-toggle" data-toggle="dropdown">Misc <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all_time_participation/wmtboc/">all time participants WMTBOC</a>
                            </li>
                            <li><a href="/all_time_participation/emtboc/">all time participants EMTBOC</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/about/">About</a>
                    </li>

                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search" id="search_form">
                        <div class="input-group">
                            <input id="search" type="text" class="form-control" placeholder="Type Competitor Name" name="q">
                        </div>
                    </form>
                </div>
            </div>
        </nav>


        {% block content %} {% endblock %}
    </div>

    <script type=text/javascript src="{{ url_for('static', filename='bower_components/typeahead.js/dist/typeahead.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/competitor.js') }}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57390381-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
