<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MTBO Stats {{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flags.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
    <div class="container">
        <div class="container-fluid">
           {# Název je v hlavičce přes fotku - z navbaru zmizel kvůli místu,
              ale stránka se bez něj nepředstavila. #}
           <div class="row banner">
            <img src="{{ url_for('static', filename=['img/1.jpg', 'img/2.jpg', 'img/martina.jpg']|random ) }}" class="img-responsive">
            <span class="banner-title">MTBO stats</span>
           </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                {# Jen ikona - název zabíral místo, které v hlavním menu chybí.
                   Titulek stránky ho stejně nese. #}
                <a class="navbar-brand" href="/" aria-label="Home" title="MTBO statistics">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16" role="img" aria-hidden="true">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0L1 7.793V15.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5V7.793z"/>
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {# Nabídky se staví z registru událostí (tools.EVENTS).
                           Elitní a mládežnické jsou oddělené nadpisem, aby se
                           seznam nerozrostl do nepřehledna. #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/team_medals_table/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Teams
                            </a>
                            <ul class="dropdown-menu">
                                {% for code, ev in EVENTS.items() %}
                                {% if code in JUNIOR_CODES and loop.previtem and loop.previtem[0] not in JUNIOR_CODES %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Junior &amp; Youth</h6></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/team_medals_table/{{ ev.slug }}/">{{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/teams/">Results by year</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/events/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Event summaries
                            </a>
                            <ul class="dropdown-menu">
                                {% for code, ev in EVENTS.items() if not ev.needs_organizer %}
                                {% if code in JUNIOR_CODES and loop.previtem and loop.previtem[0] not in JUNIOR_CODES %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Junior &amp; Youth</h6></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/events/{{ ev.slug }}/">{{ code }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/races/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Races history
                            </a>
                            <ul class="dropdown-menu">
                                {# Na rozdíl od shrnutí ročníků tu Světový pohár je -
                                   přehled závodů ho má taky. #}
                                {% for code, ev in EVENTS.items() %}
                                {% if code in JUNIOR_CODES and loop.previtem and loop.previtem[0] not in JUNIOR_CODES %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Junior &amp; Youth</h6></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/races/{{ ev.slug }}/">{{ code }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/medals_table/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Medals
                            </a>
                            <ul class="dropdown-menu">
                                {% for code, ev in EVENTS.items() %}
                                {% if code in JUNIOR_CODES and loop.previtem and loop.previtem[0] not in JUNIOR_CODES %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Junior &amp; Youth</h6></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/medals_table/{{ ev.slug }}/">{{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('wcup_overall') }}">WCUP - overall winners</a>
                                </li>
                            </ul>
                        </li>
                        {# Medaile jsou "kdo kolik má", achievements "co se komu
                           povedlo" - dohromady to byl jeden seznam přes celou
                           obrazovku. #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/grand_slam/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Achievements
                            </a>
                            <ul class="dropdown-menu">
                                {# Pohár tu není schválně (grand_slam_codes()) a evropské
                                   juniorské ani mládežnické taky ne - stránku mají, ale
                                   menu by se jimi zaplnilo. Viz grand_slam_menu_codes(). #}
                                {% for code, ev in EVENTS.items() if ev.grand_slam_in_menu %}
                                <li>
                                    <a class="dropdown-item" href="/grand_slam/{{ ev.slug }}/">Grand Slam - {{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                {# Nejvíc zlata z jednoho ročníku - proti Grand Slamu,
                                   který se dívá na celou kariéru. #}
                                {% for code, ev in EVENTS.items() if ev.perfect_championship_in_menu %}
                                <li>
                                    <a class="dropdown-item" href="/perfect_championship/{{ ev.slug }}/">Perfect Championship - {{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Career progression</h6></li>
                                {# Světová a evropská větev zvlášť - tituly se nemíchají.
                                   Celý oblouk začíná u mládeže, a ta je jen evropská
                                   (mistrovství světa pro M17/W17 neexistuje), takže
                                   na juniorech a elitě bere obě soutěže - viz CAREER_PATHS. #}
                                <li>
                                    <a class="dropdown-item" href="/progression/world/1/">Junior &rarr; Elite champions (World)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/progression/world/">Junior &rarr; Elite medalists (World)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/progression/europe/1/">Junior &rarr; Elite champions (Europe)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/progression/europe/">Junior &rarr; Elite medalists (Europe)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/progression/full/1/">Youth &rarr; Junior &rarr; Elite gold</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/progression/full/">Youth &rarr; Junior &rarr; Elite medals</a>
                                </li>
                            </ul>
                        </li>
                        {# Věkové žebříčky mají vlastní menu - v Achievements jich bylo
                           osm z dvaceti položek a rozdíl mezi "vyhrál mladý" a "vyhrál
                           starý" se v tom seznamu ztrácel. Název je schválně stejný jako
                           na stránkách (Young Stars / Great Masters), aby šlo poznat,
                           kam odkaz vede, ještě před kliknutím. #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/young_stars/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Stars &amp; Masters
                            </a>
                            <ul class="dropdown-menu">
                                {# Věkové žebříčky dávají smysl jen u elity - v juniorech
                                   je věk daný kategorií. #}
                                <li><h6 class="dropdown-header">Young Stars &ndash; youngest to win</h6></li>
                                {% for code, ev in EVENTS.items() if ev.kind == ELITE and code != 'WCUP' %}
                                <li>
                                    <a class="dropdown-item" href="/young_stars/{{ ev.slug }}/">Champions - {{ code }}</a>
                                </li>
                                {% endfor %}
                                {% for code, ev in EVENTS.items() if ev.kind == ELITE and code != 'WCUP' %}
                                <li>
                                    <a class="dropdown-item" href="/young_stars/{{ ev.slug }}/3/">Medalists - {{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Great Masters &ndash; oldest to win</h6></li>
                                {% for code, ev in EVENTS.items() if ev.kind == ELITE and code != 'WCUP' %}
                                <li>
                                    <a class="dropdown-item" href="/great_masters/{{ ev.slug }}/">Champions - {{ code }}</a>
                                </li>
                                {% endfor %}
                                {% for code, ev in EVENTS.items() if ev.kind == ELITE and code != 'WCUP' %}
                                <li>
                                    <a class="dropdown-item" href="/great_masters/{{ ev.slug }}/3/">Medalists - {{ code }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/all_time_participation/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Participations
                            </a>
                            <ul class="dropdown-menu">
                                {% for code, ev in EVENTS.items() %}
                                {% if code in JUNIOR_CODES and loop.previtem and loop.previtem[0] not in JUNIOR_CODES %}
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Junior &amp; Youth</h6></li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/participation/{{ ev.slug }}/">Competitors at {{ code }}</a>
                                </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                {% for code, ev in EVENTS.items() if ev.kind == ELITE and code != 'WCUP' %}
                                <li>
                                    <a class="dropdown-item" href="/all_time_participation/{{ ev.slug }}/">Countries at {{ code }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/all_time_participation/wmtboc/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                World Cup
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/worldcup_overall/">Individual - overall top 3</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/worldcup/">Individual / per year</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('team_wcup') }}">Team / per year</a>
                                </li>
                                {# U23 se jede uvnitř elitních závodů, ale má
                                   vlastní pořadí - IOF ho z běžných kol
                                   nepublikuje, tohle je jediný kompletní
                                   přehled. #}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('wcup_u23') }}">U23 / per year</a>
                                </li>
                            </ul>        
                        </li>
                    </ul>
                </div>    
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search" id="search_form">
                        <div class="input-group">
                            <input id="search" type="text" class="form-control" placeholder="Type Competitor Name" name="q">
                        </div>
                    </form>
                </div>
            </div>
        </nav>


        {% block content %} {% endblock %}

        <div class="container-fluid">
           <div class="footer well">

                {# Odkazy, které nepatří k datům, sedí tady - v hlavním menu
                   braly místo kategoriím. #}
                <nav class="border-bottom mb-3 pb-2" aria-label="Site links">
                    <a class="me-3" href="/">Home</a>
                    <a class="me-3" href="/about/">About</a>
                    <a class="me-3" href="https://orienteering.sport/mtbo/">What is MTBO?</a>
                    <a class="me-3" href="https://eventor.orienteering.org/Events">Eventor</a>
                </nav>

                <p>The competitors names are displayed as they are currently set in the competitor <a href="https://eventor.orienteering.org/Events">Eventor</a> profile. There may be some changes against the original results, such as different surname for the girls after marriage, etc.</p>

                <p>Please report any mistakes you found, I will correct them gladly. Old results were converted by hand, there are some mistakes in Eventor too. I can't catch them all even I try hard ;-)</p>

                <p><a href="/about/">Jiri -Albert- Vrany</a></p>


           </div>
        </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/competitor.js') }}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57390381-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
