{% extends "default.html" %} {% block content %}
<h1>MTBO stats</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">    
            <h2>Recent results</h2>
            <ul class="list-unstyled">
                {% for details in recent %}
                <li>
                    <a href="/race/{{ details[0] }}">
                        {{ details[2] }}&nbsp;
                        {{ details[4] }} 
                        {{ details[3] }} - 
                        {{ details[5] }}
                        <img src="{{ url_for('static', filename='css/blank.gif') }}"
                            class="flag flag-{{ flags[details[6]].lower() }}"
                            alt="{{ details[6] }}" />
                        
                    </a>
                </li>
                {% endfor %}
            </ul>
            <h2>First medal in {{ year }}</h2>
            <p>Competitors who get their first medal from WMTBOC or EMTBOC in this season.</p>
            <ul class="list-unstyled">
                {% for details in first %}
                <li>
                    <a href="/competitor/{{ details['competitor_id'] }}">
                        <img src="{{ url_for('static', filename='css/blank.gif') }}"
                            class="flag flag-{{ flags[details['team']].lower() }}"
                            alt="{{ details['team'] }}" />
                        {{ details['name'] }}&nbsp;- 
                        {{ details['event'] }}&nbsp;
                        {{ details['race_format'] }} -
                        <img src="{{ url_for('static', filename='img/m' + details['place']|string + '.png') }}"
                            alt="{{ details['place'] }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Menu of the day</h2>
            <div class="well">
                <ul>
                    <li>
                        Introducing overall medal counts for <a href="/team_medals_table/wmtboc/">WMTBOC</a>, <a
                    href="/team_medals_table/emtboc/">EMTBOC</a>, and the <a href="/team_medals_table/wcup/">World Cup</a>.
                    </li>. Despite strong efforts of Czechia in recent years, Finland comfortably leads in all the tables.
                    <li>
                        Warsaw hosted the 22nd World MTBO Championship in 2025. <a href="/competitor/7763/">Krystof
                    Bogar</a> became the most successful athlete in <a href="/medals_table/wmtboc/">WMTBOC</a> history
                    during his 10th championship.
                    </li>
                    <li>
                        At the 15th European MTBO Championship in Vilnius, <a href="/competitor/7763/">Martina
                    Stepankova (Tichovska)</a> became the most successful athlete in <a
                    href="/medals_table/wmtboc/">EMTBOC</a> history, ahead of <a href="/competitor/7763/">Krystof Bogar</a>
                    and <a href="/competitor/12973/">Vojtech Ludvik</a> — her teammates from the victorious mixed relay team.
                    </li>
                    <li>
                        In 2024, the <a href="/participation/wmtboc/">total number of WMTBOC participants</a> surpassed
                    1,000.
                    </li>
                    <li>
                        Explore medal tables for <a href="/medals_table/wmtboc/">WMTBOC</a>, <a
                    href="/medals_table/wmtboc/">EMTBOC</a>, or the <a href="/medals_table/wcup/">World Cup</a>.
                    </li>
                    <li>
                        Check out the World Cup overall <a href="{{ url_for('wcup_overall') }}">Top 3 for all years</a>
                    or browse the World Cup <a href="{{ url_for('wcup') }}">year-by-year overall standings</a>.
                    </li>
                    <li>
                        Ever wondered who is the <a href="/young_stars/wmtboc/">youngest world champion</a> of all
                    time?
                    </li>
                    <li>
                        Or who earned an <a href="/great_masters/wmtboc/3/">elite world medal at master age</a>?
                    </li>
                    <li>
                        Need a quick recap of your team’s results in a given year? Find all teams, all results, all
                    years <a href="/teams/">in one place</a>.
                    </li>
                    <li>
                        You can find more links in the top menu — or <a href="{{ url_for('about') }}">send me a
                    message</a> if you’re looking for information you couldn’t find.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Results year by year</h2>
        <div class="col-md-4">
            <h3>WMTBOC</h3>
            <ul class="event-list">
                    {% for details in wmtboc_years %}
                    <li>
                                <img src="{{ url_for('static', filename='css/blank.gif') }}"
                                class="flag flag-{{ flags[details[1]].lower() }}"
                                alt="{{ details[1] }}" />
                                <a href="{{ url_for('event_summary', event='wmtboc', year=details[0]) }}">
                                {{ details[0] }}
                            </a>
                    </li>
                    {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>EMTBOC</h3>
            <ul class="event-list">
                {% for details in emtboc_years %}
                <li>
                    <img src="{{ url_for('static', filename='css/blank.gif') }}"
                    class="flag flag-{{ flags[details[1]].lower() }}"
                    alt="{{ details[1] }}" />
                    <a href="{{ url_for('event_summary', event='emtboc', year=details[0]) }}">
                    {{ details[0] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>World Cup races</h3>
            <ul class="event-list">
                {% for details in wcup_years %}
                <li>
                    <img src="{{ url_for('static', filename='css/blank.gif') }}"
                    class="flag flag-{{ flags[details[1]].lower() }}"
                    alt="{{ details[1] }}" />
                    <a href="{{ url_for('event_summary', event='wcup', year=details[0], organizer=details[1]) }}">
                    {{ details[0] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">    
        <h2>All races in the history</h2>
        <div class="col-md-4">
            <h3>WMTBOC</h3>
            <ul class="event-list">
                    {% for details in wmtboc %}
                    <li>
                                <img src="{{ url_for('static', filename='css/blank.gif') }}"
                                class="flag flag-{{ flags[details[6]].lower() }}"
                                alt="{{ details[6] }}" />
                                <a href="/race/{{ details[0] }}">
                                {{ details[1] }}
                                {{ details[4] }}
                                {{ details[3]|capitalize }}
                            </a>
                    </li>
                    {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>EMTBOC</h3>
            <ul class="event-list">
                {% for details in emtboc %}
                <li>
                    <img src="{{ url_for('static', filename='css/blank.gif') }}"
                            class="flag flag-{{ flags[details[6]].lower() }}"
                            alt="{{ details[6] }}" />
                        <a href="/race/{{ details[0] }}">
                        {{ details[1] }}
                        {{ details[4] }}
                        {{ details[3]|capitalize }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>World Cup races</h3>
            <ul class="event-list">
                {% for details in wcup %}
                <li>
                    <a href="/race/{{ details[0] }}">
                        <img src="{{ url_for('static', filename='css/blank.gif') }}"
                            class="flag flag-{{ flags[details[6]].lower() }}"
                            alt="{{ details[6] }}" />
                            {{ details[1] }}
                            {{ details[4] }}
                            {{ details[3] }}
                        </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
