{% extends "default.html" %} 
{% block content %}

<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">Přihlašte se prosím</h2>
    {% if error %}
    <p class="error">
        <strong>chyba:</strong>{{ error }}</p>
    {% endif %}
    <input name="uname" type="text" class="form-control" placeholder="váš Email" required autofocus>
    <input name="passwd" type="password" class="form-control" placeholder="Heslo" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
</form>

</div>
{% endblock %}
