{% extends "default.j2" %}
{% block content %}
<h1>{{ title }}</h1>
<p>
    We have <strong>{{ stats['individual'] }} individual medalists</strong> from <strong>{{ stats['indiv_countries'] }} countries</strong>. In the relay competitions <strong>{{ stats['relay'] }} competitors</strong> from <strong>{{ stats['rel_countries'] }} countries</strong> won the medal so far. 
</p>
{% if disclaimer %}
   <p>{{ disclaimer }}</p>
{% endif %}

<div class="row">
    {% for col, content in table_content.items() %}
    <div class="col-sm-4">
        <h3>{{col|capitalize}}</h3>
        <table class="table table-sm">
        <thead>
        <tr class="table-info">
            <th>#</th>
            <th>Competitor</th>
            <th>Gold</th>
            <th>Silver</th>
            <th>Bronze</th>
        </tr>
        </thead>
        <tbody>
            {% for nr, competitor_id in content[1] %}
                <tr>
                    <td>
                        {{ nr + 1 }}
                    </td>
                    <td>
                    <a href="/competitor/{{ competitor_id }}/">
                        {{ competitors[competitor_id]["first"] }}
                        {{ competitors[competitor_id]["last"] }}</a>
                    <img src="{{ url_for('static', filename='css/blank.gif') }}"
                         class="flag flag-{{ flags[competitors[competitor_id]["nationality"]].lower() }}"
                         alt="{{ competitors[competitor_id]["nationality"] }}" />
                    {{ competitors[competitor_id]["nationality"] }}
                    </td>
                    <td>
                        {{ content[0][competitor_id][0] }}
                    </td>
                    <td>
                        {{ content[0][competitor_id][1] }}
                    </td>
                    <td>
                        {{ content[0][competitor_id][2] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </tbody>
    </div>    
    {% endfor %}
</div>
{% endblock %}
