{% extends "default.j2" %} {% block content %}
{% from 'macros.j2' import  relay_table_row %}

<div class="container-fluid">
    <div class="row">
    {% include 'races_infobox.j2' %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Mixed Teams</h2>
            <table class="table-condensed">
                {% for code, team in results.items() %}
                    {{ relay_table_row(team, competitors, flags) }}
                {% endfor %}
            </table>
        </div>
    </div>
</div>    
{% include 'relay_disclaimer.j2' %}
{% endblock %}
