{% extends "default.html" %} {% block content %}
{% from 'macros.html' import  relay_table_row, relay_others_table %}

<div class="container-fluid">
    <div class="row">
    {% include 'races_infobox.html' %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Mixed Teams</h2>
            <table class="table-condensed">
                {% for code, team in results.items() %}
                    {{ relay_table_row(team, competitors, flags) }}
                {% endfor %}
            </table>
            {{ relay_others_table(results_others, competitors, flags, 'Not ranked') }}
        </div>
    </div>
</div>
{% include 'relay_disclaimer.html' %}
{% endblock %}
