{% extends "default.html" %} {% block content %}
<div class="row">

<h1>{{ title }}</h1>
<h2>
{{ race['date'] }}
{{ race['venue'] }}
{{ race['country'] }}
<img src="{{ url_for('static', filename='css/blank.gif') }}"
                     class="flag flag-{{ flags[race['country']].lower() }}"
                     alt="{{ race['country'] }}" /> 
</h2>
<p>
{% if race['url'] %}
    <a href="{{ race['url'] }}">Event website</a>
{% endif %}
&nbsp;
{% if race['iofurl'] %}
    <a href="http://orienteering.org/events/?event_id={{ race['iofurl'] }}">IOF results page</a>
{% endif %}
</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Women</h2>
        <table class="table-condensed">
            {% for row in women %}
            <tr>
                <th>
                {{ row[2] }}
                </th>
                <th>
                <a href="/competitor/{{ row[0] }}/">

                    {{ competitors[row[0]]["first"] }}
                    {{ competitors[row[0]]["last"] }}
                </a>
                </th>
                <td>
                <img src="{{ url_for('static', filename='css/blank.gif') }}"
                     class="flag flag-{{ flags[competitors[row[0]]["nationality"]].lower() }}"
                     alt="{{ competitors[row[0]]["nationality"] }}" />
                {{ competitors[row[0]]["nationality"] }}
                </td>
                <td>
                {{ row[3] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Men</h2>
        <table class="table-condensed">
            {% for row in men %}
            <tr>
                <th>
                {{ row[2] }}
                 </th>
                <th>
                <a href="/competitor/{{ row[0] }}/">
                    {{ competitors[row[0]]["first"] }}
                    {{ competitors[row[0]]["last"] }}
                </a>
                </th>
                <td>
                <img src="{{ url_for('static', filename='css/blank.gif') }}"
                     class="flag flag-{{ flags[competitors[row[0]]["nationality"]].lower() }}"
                     alt="{{ competitors[row[0]]["nationality"] }}" />
                {{ competitors[row[0]]["nationality"] }}
                </td>
                <td>
                {{ row[3] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
