{% block relay_disclaimer %}
<div class="row">
   <h4>Disclaimer:</h4>
   <p>Before 2015 were the relay results usually published with names only (without the IOF ID). Therefore all the name/id pairing of old results was done manually. Please report any mistakes you found, I will correct them gladly. </p>

<p>And of course, the IOF rule 24.10 says "0 If a Federation is represented by two or more teams in a relay class, only the team with the better result is considered in determining the placings." So no results here for the second, third and fourth teams, sorry guys. </p>


</div>
{% endblock %}